*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: aqua;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.header-left {
    background-color: orange;
    width: 30%;
    height: 100%;
}

.header-right {
    background-color: orange;
    width: 30%;
    height: 100%;
    
}

.jumbotron {
    height: 500px;
    background-color: aquamarine;
   
}

.jumbotron-flex {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.jumbotron-flex .text-left {
    background-color: blueviolet;
    height: 400px;
    width: 400px;
}

.jumbotron-flex .img-right {
    background-color: red;
    height: 400px;
    width: 500px;
}

.business-plan {
    margin: 100px 200px;
}

.business-title {
    background-color: orange;
    width: 800px;
    height: 200px;
    margin-left: 30px;
}

.plans {
    display: flex;
}

.column {
    background-color: aquamarine;
    height: 500px;
    width: calc(100% / 3);
    margin: 10px 20px 0px;
}

.team {
    background-color: aquamarine;
    height: 200px;
    margin: 10px 20px 0px;
}

.partner {
    display: flex;
    justify-content: center;
}

.img-left {
    background-color: red;
    width: height: 400px;
    width: 600px;
}

.text-right {
    background-color: blueviolet;
    height: 400px;
    width: 500px;
}

.operations {
    margin: 10px 70px;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.op {
    background-color: cornflowerblue;
    height: 300px;
    width: calc(80% / 3);
    border-style: dotted;
    margin: 10px 10px 0px;
}

.clients {
    background-color: orange;
    height: 200px;
    margin: 10px 190px;
}

.client-grid {
    display: flex;
    margin-top: 10px;
}

.left-squares {
   height: 400px;
   width: 400px;
   display: flex;
   flex-wrap: wrap;
}

.client1 {
    width: 50%;
    background-color: blueviolet;
    border-style: dotted;
}

.central-overflow {
    height: 400px;
    width: calc(100% - 800px);
    background-color: brown;
}

.right-squares {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.free-trial {
    height: 200px;
    background-color: aqua;
}